@import url("https://fonts.googleapis.com/css?family=Jua|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean");

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  border-bottom: 0.5px solid gainsboro;
  padding: 2rem;
  text-align: left;
}
.container {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  display: flex;
  min-height: 800px;
  justify-content: space-around;
}
